.desktop-navbar-container {
    display: none;
}


@media (min-width: 768px) {
    .desktop-navbar-container {
        display: flex;
    }

    .desktop-nav-link {
        margin: 0.500rem 0;
        text-decoration: none;
        color: #E9E8E8;
        transition: color 150ms;
        font-weight: 700;
        margin: 0 1rem;
        font-size: 1.2rem;
        display: flex;
    }

    .desktop-nav-link-active {
        margin: 0.500rem 0;
        text-decoration: none;
        color: #F47658; 
        font-weight: 700;
        margin: 0 1rem;
        font-size: 1.2rem;
        display: flex;
    }

    .desktop-nav-link:hover {
        color: #F47658; 
    }

    .desktop-nav-link i {
        margin-top: 0.200rem;
        margin-right: 0.300rem;
    }

    .desktop-nav-link-active i {
        margin-top: 0.200rem;
        margin-right: 0.300rem;
    }
    
}