* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

.header-main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    background-color: #20262E;
}

.logo-container {
    height: 100%;
}

.logo-container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.bx-menu-alt-left, .bx-menu {
    font-size: 2rem;
    color: #e982ad;
}



