.projects-main {
    padding: 2.5rem;
    opacity: 0;
    transition: opacity 350ms;
}

.projects-main-active {
    opacity: 1;
}

.projects-intro-title {
    font-size: 1.5rem;
    color: #e982ad;
    margin-left: 0.800rem;
}

.project-container {
    width: 85%;
    margin: 1.5rem auto;
    border: 2px solid #F47658;
    border-radius: 10px;

}

.project-img img {
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.project-info {
    padding: 1rem;
}

.project-title {
    font-size: 1.2rem;
    color: #E9E8E8
}

.project-description {
    font-size: 0.875rem;
    color: #E9E8E8;
}

.mysql-logo {
    width: 40px;
    height: 40px;
}

.skills-used {
    display: flex;
    align-items: center;
}

.skills-used * {
    margin-top: 1rem;
    margin-right: 0.700rem;
}

.bxl-javascript,
.bxl-css3,
.bxl-react,
.bxl-mongodb,
.bxl-typescript {
    font-size: 1.5rem;
    color: #E9E8E8;
}

.project-links-container {
    margin-top: 1.2rem;
}

.project-link-btn {
    border: 0;
    background-color: #e982ad;
    color: #E9E8E8;
    padding: 0.200rem 1rem;
    border-radius: 5px;
}

.project-link-btn a {
    color: #E9E8E8 !important;
}


.project-link-btn:first-child {
    margin-right: 1.5rem;
}

.other-projects-container .project-title {
    margin-bottom: 1rem;
}

.other-projects-link-btn-container {
    display: flex;
    justify-content: center;
}

#other-projects-first-btn {
    margin-right: 1.5rem;
}



@media(min-width: 768px) {

    .projects-main {
        margin: 0 auto;
        max-width: 1000px;
    }

    .projects-intro-title {
        font-size: 1.8rem;
        margin-left: 1.5rem;
    }

    .projects-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-left: 1.5rem;
    }

    .project-container {
        display: flex;
        width: 95%;
        max-width: 870px;
        margin: 2rem 0;
    }

    .project-img img {
        object-fit: fill;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
    }



    .adjust-project-img {
        width: 263.17px;
    }


    .project-info {
        width: 90%;
    }

    .project-title {
        font-size: 1.5rem;
    }

    .project-title,
    .project-description {
        margin: 0.300rem 0;
    }

    .project-link-btn {
        transition: transform 250ms;
    }

    .project-link-btn:hover {
        transform: translateY(-5px);
    }




}