.skills-main {
    padding: 2.5rem;
    opacity: 0;
    transition: opacity 350ms;
    width: 85%;
    margin: 0 auto;
}

.skills-main-active {
    opacity: 1;
}

.skills-intro-title {
    font-size: 1.5rem;
    color: #e982ad;
}

.skills-list-container {
    margin: 2rem 0;
    text-align: center;
}


.skills {
    display: flex;
    flex-wrap: wrap;
    max-width: 370px;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 1rem;
    justify-content: center;
    margin: 0 auto;
}

.skills-stack-title {
    color: #E9E8E8;
    font-size: 1.2rem;
    margin: 1rem 0;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #E9E8E8;
    padding: 0.500rem ;
    border-radius: 10px;
    align-items: center;
    width: 48%;   
}

.skill-name {
    font-size: 0.9rem;
}

.skill-even {
    border: 1px solid #e982ad;
}

.skill-odd {
    border: 1px solid #F47658; 
}


.frontend-skill i {
    margin-right: 0.300rem;
    font-size: 1.5rem;
}


.backend-skill img {
    margin-right: 0.300rem;
    height: 35px;
}

.other-skill img {
    margin: 0.300rem;
    height: 19px;
}



@media(min-width: 768px) {
    
    .skills-main {
        width: 85%;
        margin: 0 auto;
    }

    .skills-list-container {
        text-align: left;
    }

    .skills {
        max-width: none;  
    }

    .skill {
        flex-direction: row;
        width: 32%;
        padding: 1rem 0.5rem;   
    }

    .skill-name {
        font-size: 1rem;  
    }

}

@media(min-width: 1000px) {
    
    .skills-main {
        max-width: 1000px
    }

    .skills-intro-title {
        font-size: 1.8rem;
        color: #e982ad;
    }

    .skills-stack-title {
        font-size: 1.5rem;
    }

    .skills {
      
        justify-content: flex-start;
        
    }
    

    .skill-name {
        font-size: 1.2rem;  
    }

}